body {
  margin-right: 0;
  margin-left: 0;
  background-image: url(https://c.wallhere.com/photos/c9/25/1920x1080_px_Abstract_Blue_And_White_Wallpaper_HD-809474.jpg!d);
  background-size: 120%;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: black;
}

img {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

h6, .titulo, h5, h4, h3, h2, h1 {
  margin-top: 0%;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

iframe {
  border: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  width: 95%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.header {
  text-align: left;
  justify-content: left;
  background-color: aqua;
  -webkit-animation-name: animacion1;
          animation-name: animacion1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  padding: 25px 25px 25px 25px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2vh;
  margin-top: 2vh;
  font-weight: 100;
  font-family: Arial;
  font-size: xx-large;
  font-style: oblique;
}
@-webkit-keyframes animacion1 {
  0% {
    background-color: blue;
    color: white;
  }
  50% {
    background-color: cadetblue;
    color: white;
  }
  100% {
    background-color: darkturquoise;
    color: white;
  }
}
@keyframes animacion1 {
  0% {
    background-color: blue;
    color: white;
  }
  50% {
    background-color: cadetblue;
    color: white;
  }
  100% {
    background-color: darkturquoise;
    color: white;
  }
}

.rounded {
  border-radius: 0.25rem !important;
}

.mx-auto {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: auto !important;
  margin-left: auto !important;
}

.d-block {
  display: block !important;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: $color2;
  --bs-table-striped-bg: $color2;
  --bs-table-active-color: $color2;
  --bs-table-active-bg: $color2;
  --bs-table-hover-color: $color2;
  --bs-table-hover-bg: $color2;
  width: 75%;
  margin-bottom: 1rem;
  margin-right: auto !important;
  margin-left: auto !important;
  color: black;
  vertical-align: top;
  border: color white;
  /* Comando &*/
}
.table:hover {
  color: aqua;
  background-color: black;
}

.menu {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 25px;
  background-color: black;
  color: white;
  font-family: Calibri;
}

/*Nesting*/
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-around;
}
.nav pills {
  color: white;
  background-color: #0d6efd;
}
.nav fill {
  flex: 1 1 auto;
  text-align: center;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  background-color: 0.15s ease-in-out;
  border-color: 0.15s ease-in-out;
}

.nav-link.active {
  color: white;
  background-color: #0d6efd;
}

.footer {
  background-color: black;
  font-family: Calibri;
  color: white;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*Mapa*/
.primero, .list-group-item primero, .calificacion-regular primero, .calificacion-buena primero, .calificacion-excelente primero {
  color: blue;
}

.ultimo, .list-group-item ultimo, .calificacion-regular ultimo, .calificacion-buena ultimo, .calificacion-excelente ultimo {
  color: darkblue;
}

/*Mixin*/
/*Extend*/
.list-group-item, .calificacion-regular, .calificacion-buena, .calificacion-excelente {
  text-align: center;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
  margin-left: 25%;
  margin-right: 25%;
}
.calificacion-excelente {
  background-color: green;
  color: white;
}

.calificacion-buena {
  background-color: yellow;
}

.calificacion-regular {
  background-color: red;
  color: white;
}

.titulo {
  margin-top: 1%;
  margin-bottom: 1%;
  line-height: 2;
  text-align: center;
}

.elementos {
  text-align: center;
  border-style: groove;
  border-radius: 1000px;
  background-color: darkblue;
  color: white;
  display: inline-block;
  padding: 2%;
  height: 10%;
  width: 25%;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
}

.video {
  height: 75vh;
  width: 50vw;
  margin-left: 25%;
  margin-right: 5%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  flex-wrap: nowrap;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  border: dotted;
  background-color: black;
  color: white;
  border-color: aqua;
  padding: 5vh 5vh 5vh 5vh;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  height: 50%;
  width: 100%;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  height: 50%;
  width: 100%;
}

.mapa {
  width: 60%;
  margin-left: 20%;
  margin-right: 5%;
}/*# sourceMappingURL=style.css.map */