@import"colores";
@import"etiquetas";

*{  margin:0;
    padding:0;}


.container-fluid{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;}

    .header{
        text-align: left;
        justify-content: left;
        background-color:$color1;
        animation-name:animacion1;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in;
        animation-delay:0s;
        animation-duration:1s;
        padding: 25px 25px 25px 25px;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2vh;
        margin-top: 2vh;
        font-weight: 100;
        font-family: Arial;
        font-size: xx-large;
        font-style: oblique;
        @keyframes animacion1{
            0%{background-color:$color6;color:$color4;}
            50% {
                background-color:$color7;
                color: $color4;
            }
            100% {
                background-color:$color8;
                color: $color4;
            }
        }
    }
    
        .rounded {border-radius: 0.25rem !important;}
    
        .mx-auto{
              margin-top:5vh;
              margin-bottom:5vh;
              margin-right: auto !important;
              margin-left: auto !important;}
             
        .d-block{
              display:block !important;}
      .table {
        --bs-table-bg: transparent;
        --bs-table-accent-bg: transparent;
        --bs-table-striped-color: $color2;
        --bs-table-striped-bg: $color2;
        --bs-table-active-color: $color2;
        --bs-table-active-bg: $color2;
        --bs-table-hover-color: $color2;
        --bs-table-hover-bg: $color2;
        width: 75%;
        margin-bottom: 1rem;
        margin-right: auto !important;
        margin-left: auto !important;
        color: $color2;
        vertical-align: top;
        border: color $color4;
    
/* Comando &*/
&:hover {
    color: $color1;
    background-color:$color2;
   }}

.menu{text-align: center;
    margin-bottom: 5px;
    margin-top: 25px;
    background-color:$color2;
    color:$color4;
    font-family: Calibri;}

/*Nesting*/
.nav{display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
pills{
    color:$color4;
    background-color:$color3;}
fill{
    flex: 1 1 auto;
    text-align: center;}
}
.nav-link{display: block;
        padding: 0.5rem 1rem;
        color:$color2;
        text-decoration: none;
        transition: color 0.15s ease-in-out; 
        background-color: 0.15s ease-in-out;
        border-color: 0.15s ease-in-out;}
        
.nav-link.active{color:$color4;
            background-color:$color3;}
        

.footer{background-color:$color2;
    font-family: Calibri;
    color:$color4;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-top:1vh;
    margin-bottom:1vh;}

/*Mapa*/

$mapaestilos: (
  color1: blue,
  color2: darkblue,
);

.primero{
    color:map-get($map:$mapaestilos, $key:color1);
    }

.ultimo{color:map-get($map:$mapaestilos, $key:color2);
    }

/*Mixin*/

@mixin margenes($margenizq,$margender){
    margin-left:$margenizq;
    margin-right:$margender;
}
    
/*Extend*/

.list-group-item {
    text-align: center;
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: transparent;
    @include margenes(25%,25%);
    primero{@extend .primero;
       }
    ultimo{@extend .ultimo;
        }
}

.calificacion-excelente{@extend .list-group-item;
    background-color: green;
    color:white;
    }

.calificacion-buena{@extend .list-group-item;background-color:yellow;}
.calificacion-regular{@extend .list-group-item;background-color:red;color:white;}

.titulo{
    @extend h6,h5,h4,h3,h2,h1 ;
    margin-top: 1%;
    margin-bottom: 1%;
    line-height: 2;
    text-align: center;
              }

.elementos {
    text-align:center;
    border-style: groove;
    border-radius: 1000px;
    background-color: darkblue;
    color: white;
    display: inline-block;
    padding:2%;
    height: 10%;
    width: 25%;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    background-color: white;
    @include margenes(2%,2%);
  }

.video {
    height:75vh;
    width: 50vw;
    @include margenes(25%,5%);
}

.form {
    display:flex;
    flex-direction:column;
    justify-items:flex-start;
    flex-wrap: nowrap;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    border: dotted;
    background-color: black;
    color: white;
    border-color: aqua;
    padding: 5vh 5vh 5vh 5vh;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
  }
  .form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
  .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    height: 50%;
    width: 100%;
  }
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    height: 50%;
    width: 100%;
  }
  .mapa {
    width:60%;
    @include margenes(20%,5%)
}